<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562288578822-sl27p4sd7uah5pihjg7o39io90qsh9e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562288578822-sl27p4sd7uah5pihjg7o39io90qsh9e7</string>
	<key>API_KEY</key>
	<string>AIzaSyBbrpjUxSblTSML9IxVAi2NwFhQeRUG6Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>562288578822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QI.QISpeechText</string>
	<key>PROJECT_ID</key>
	<string>qispeechtext</string>
	<key>STORAGE_BUCKET</key>
	<string>qispeechtext.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562288578822:ios:96a9ff7b90ea1b1b724e87</string>
	<key>DATABASE_URL</key>
	<string>https://qispeechtext.firebaseio.com</string>
</dict>
</plist>